h1 {
    color: rgb(0, 12, 96);
    border: 3px rgb(0, 12, 96) solid;
    font-size: 3em;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    font-family: sans-serif;
}


#v-pills-home-tab {
    background-color: rgb(15, 25, 145);
    margin-left: 100px;
}

#v-pills-profile-tab {
    background-color: rgb(7, 7, 120);
    margin-left: 100px;
}

#v-pills-settings-tab {
    background-color: rgb(4, 4, 89);
    margin-left: 100px;
}

.form-inline  {
    margin-left: 83px;
}
.nav .nav-pills {
    margin-left: 83px;
}

.nav-link .dropdown-item {
    margin-left: 83px;
}
#women{
    margin-left: 155px;
}