h1 {
    color: rgb(0, 12, 96);
    border: 3px rgb(0, 12, 96) solid;
    font-size: 3em;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    font-family: sans-serif;
}


.nav,
.nav-pills,
.form-inline,
.form,
.nav-link,
.dropdown-menu.show {
    margin-left: 100px;
    border: none;
}

.nav-link {
    background-color: rgb(4, 4, 89);
    color: white;
}