#btn {
    background-color: none;
    border: none;
}

h1 {
    font-size: 75px;
    color: navy;
    text-align: center;
}

#loadPeople{
    list-style-type: none !important;
    align-content: center;
}

.btn {
    background-color: none;
    border: none;
    margin-left: auto; 
    margin-right: auto;
    
}

.col-12, #formButton, b, #formbutton2 {
    background: none !important;
    text-align: center;
    border: none;
}

#submit{
    background-color: none;
}

#form1 {
box-shadow: 0 0 20px 0rgba(72,94,116,0,7);
padding: 15px;
background: none;
display: none;
width: 300px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.column {
    width:100%;
}


html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(219, 224, 241);
    background: radial-gradient(circle, rgba(219, 224, 241, 1) 0%, rgba(180, 191, 199, 1) 47%, rgba(46, 53, 77, 1) 100%);
    height: 100%;
}

.multi-level,
.item ul,
.nav input[type="checkbox"] {
    display: none;
}

#menu:checked~.multi-level,
.item input:checked~ul {
    display: block;
}


.nav {
    margin: 50px;
}

a {
    color: black;
}

.container{
    justify-content: center;
}
